.btn-my {
    padding: 8px 15px;
    border-radius: 3px;
    color: #fff;
    border-width:5px;
    border-style: dotted;
    border-color: darkmagenta;
}
.btn-my-a {
    background-color: #a55;
}

.btn-my-b {
    border-color: #383;
}