<p>myc08-ng-model works!</p>
<div class="container">
    <div class="row">
        <form action="">
            <p>[(ngModel)] 适用input select textaera交互式双向绑定</p>
            <p>(ngModelChange) 监听 input value的改变</p>
            <input type="text" name="username" placeholder="input username pls" [(ngModel)]="uName" (ngModelChange)="doUNameChange()"/>
            <p>username input is {{uName}}</p>
        </form>
    </div>
</div>
<div class="container">
    <div class="row">
        <form action="">
            <div class="form-group">
                <label for="userInput" class="form-control-label">userInput</label>
                <input type="text" name="userInput" id="userInput" class="form-control" [(ngModel)]="userInput" (ngModelChange)="userInputChange()">
                <small>{{propt}}</small>
            </div>
        </form>
    </div>
</div>

<div class="container">
    <div class="row">
        <h3>self defined directive</h3>
    </div>
    <div class="row">
        <div id="qianDiao1" appXuYaoQiangDiao>
            appXuYaoQiangDiao1
        </div>
        <div id="qianDiao2" >
            no appXuYaoQiangDiao
        </div>
        <div id="qianDiao3" appXuYaoQiangDiao>
            appXuYaoQiangDiao3
        </div>
    </div>
</div>
