<p>myc10-emp-table </p>
<div class="container">
    <div class="row">
        <table [ngStyle]="{'boder':'2px solid black'}">
            <thead>
                <tr>
                    <td>id</td>
                    <td>name</td>
                    <td>name slice</td>
                    <td>salary</td>
                    <td>salary 整数位四位，小数位最少1位，最多2位</td>
                    <td>salary 欧元</td>
                    <td>salary 人民币</td>
                    <td>birthday</td>
                    <td>birthday datePipe </td>
                    <td>gender</td>
                    <td>politic</td>
                    <td></td>
                </tr>
            </thead>
            <tbody *ngIf="empList.length == 0">
                <tr>
                    <td colspan="7">No employee</td>
                </tr>
            </tbody>
            <tbody *ngFor="let item of empList; let i = index">
                <tr>
                    <td>{{ item.eid }}</td>
                    <td>{{ item.ename | titlecase}}</td>
                    <td>{{ item.ename | slice:0:3 | titlecase}}</td>
                    <td>{{ item.salary | number }}</td>
                    <td>{{ item.salary | number:'4.1-2'}}</td>
                    <td>{{ item.salary | currency: '€'}}</td>
                    <td>{{ item.salary | currency: '￥'}}</td>
                    <td>{{ item.birthday }}</td>
                    <td>{{ item.birthday | date:'yy-MM-dd'}}</td>
                    <td>{{ item.gender | gender:'en' }}</td>
                    <td>{{ item.politic  | politicPipe: 'long' }}</td>
                    <td><button (click)="removeEmp(i)">delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<hr>
<div class="container">
    <div class="row">{{empList | json}}</div>
</div>

